@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 15.7%;
    --foreground: 48.5 86.7% 88.2%;
    --card: 20 5.3% 22.4%;
    --card-foreground: 48.5 86.7% 88.2%;
    --popover: 20 5.3% 22.4%;
    --popover-foreground: 48.5 86.7% 88.2%;
    --primary: 39.6 73.4% 48.6%;
    --primary-foreground: 0 0% 15.7%;
    --secondary: 21.8 7.4% 29.2%;
    --secondary-foreground: 43.2 58.8% 81%;
    --muted: 21.8 7.4% 29.2%;
    --muted-foreground: 30 12.1% 51.4%;
    --accent: 26.7 9.7% 36.5%;
    --accent-foreground: 43.2 58.8% 81%;
    --destructive: 2.4 75.1% 45.7%;
    --destructive-foreground: 48.5 86.7% 88.2%;
    --border: 21.8 7.4% 29.2%;
    --input: 21.8 7.4% 29.2%;
    --ring: 39.6 73.4% 48.6%;
    --success: 122.3 21.3% 51.2%;
    --success-foreground: 48.5 86.7% 88.2%;
    --chart-1: 39.6 73.4% 48.6%;
    --chart-2: 59.5 70.8% 34.9%;
    --chart-3: 182.7 32.7% 40.2%;
    --chart-4: 332.7 33.6% 53.9%;
    --chart-5: 23.7 87.7% 44.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 15.7%;
    --foreground: 48.5 86.7% 88.2%;
    --card: 20 5.3% 22.4%;
    --card-foreground: 48.5 86.7% 88.2%;
    --popover: 20 5.3% 22.4%;
    --popover-foreground: 48.5 86.7% 88.2%;
    --primary: 39.6 73.4% 48.6%;
    --primary-foreground: 0 0% 15.7%;
    --secondary: 21.8 7.4% 29.2%;
    --secondary-foreground: 43.2 58.8% 81%;
    --muted: 21.8 7.4% 29.2%;
    --muted-foreground: 30 12.1% 51.4%;
    --accent: 26.7 9.7% 36.5%;
    --accent-foreground: 43.2 58.8% 81%;
    --destructive: 2.4 75.1% 45.7%;
    --destructive-foreground: 48.5 86.7% 88.2%;
    --border: 21.8 7.4% 29.2%;
    --input: 21.8 7.4% 29.2%;
    --ring: 39.6 73.4% 48.6%;
    --success: 122.3 21.3% 51.2%;
    --success-foreground: 48.5 86.7% 88.2%;
    --chart-1: 39.6 73.4% 48.6%;
    --chart-2: 59.5 70.8% 34.9%;
    --chart-3: 182.7 32.7% 40.2%;
    --chart-4: 332.7 33.6% 53.9%;
    --chart-5: 23.7 87.7% 44.7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
